<!-- <ion-header class="custom-header">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title class="navbar-title">
      Inicio
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="light">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="redirect('/create/cuenta')">Crear Cuenta</ion-item>
      <ion-item (click)="redirect('/create/alumnos')">Crear Alumnos</ion-item>
      <ion-item (click)="redirect('/ver/alumnos')">Ver Alumnos</ion-item>
      <ion-item (click)="redirect('/gradoygrupo')">Grados y Grupos</ion-item>

      <ion-item [style.cursor]="'pointer'" (click)="logout()">
        Cerrar Sesión
      </ion-item>
    </ion-list>

  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet> -->



<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <a href="/home">
          Llegué
        </a>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list class="custom-list">

      <a href="/create/cuenta">
        <ion-item class="custom-item">
          <ion-icon slot="start" name="person-add-outline" class="custom-icon"></ion-icon>
          <ion-label class="custom-label">Crear Cuenta</ion-label>
        </ion-item>
      </a>

      <a href="/create/alumnos">
        <ion-item  class="custom-item">
          <ion-icon slot="start" name="people-circle-outline" class="custom-icon"></ion-icon>
          <ion-label class="custom-label">Crear Alumnos</ion-label>
        </ion-item>
      </a>

      <a href="/ver/alumnos">
        <ion-item class="custom-item">
          <ion-icon slot="start" name="school-outline" class="custom-icon"></ion-icon>
          <ion-label class="custom-label">Ver Alumnos</ion-label>
        </ion-item>
      </a>

      <a href="/gradoygrupo">
        <ion-item class="custom-item">
          <ion-icon slot="start" name="albums-outline" class="custom-icon"></ion-icon>
          <ion-label class="custom-label">Periodos y Salones</ion-label>
        </ion-item>
      </a>

      <ion-button (click)="logout()" expand="block"  shape="round" color="danger">
        <ion-icon name="log-out"></ion-icon> Cerrar Sesión
      </ion-button>

    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div>