<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menuId"></ion-menu-button>
      <ion-back-button text="Regresar"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">
      <div class="header-title">
        <img src="assets/img/escuela.png" alt="" class="logo-title">
        <!-- <span class="span-title">Panel Administrativo</span> -->
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/perfil" title="Mi perfil">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="bg-light">
  <div class="container py-4">
    <!-- Encabezado -->
    <div class="text-center mb-4">
      <h1 class="mt-3 titulo">Panel Administrativo</h1>
    </div>

    <!-- PANEL -->
    <div class="container">
      <ion-grid fixed>
        <ion-row>

          <ion-col size="12" size-md="6">
            <ion-card class="home-card text-center" routerLink="/gradoygrupo">
              <ion-card-header>
                <div class="home-card-header">
                  <ion-card-title class="home-card-title">Salones</ion-card-title>
                  <ion-icon name="school-outline" class="home-card-icon"></ion-icon>
                </div>
              </ion-card-header>
              <ion-card-content>
                Permite registrar, actualizar o quitar salones de clases según sea necesario. </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-md="6">
            <ion-card class="home-card text-center" routerLink="/periodos">
              <ion-card-header>
                <div class="home-card-header">
                  <ion-card-title class="home-card-title">Periodos</ion-card-title>
                  <ion-icon name="time-outline" class="home-card-icon"></ion-icon>
                </div>
              </ion-card-header>
              <ion-card-content>
                Administra las fechas de peridos existentes en el sistema según sea necesario.
              </ion-card-content>
            </ion-card>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>

    <div class="container mt-1">
      <ion-grid fixed>
        <ion-row>

          <ion-col size="12" size-md="4">
            <ion-card class="home-card text-center" routerLink="/ver/docentes">
              <ion-card-header>
                <div class="home-card-header">
                  <ion-card-title class="home-card-title">Docentes</ion-card-title>
                  <ion-icon name="person-outline" class="home-card-icon"></ion-icon>
                </div>
              </ion-card-header>
              <ion-card-content>
                Gestiona a los maestros: registrar, modificar información o eliminar registros.
              </ion-card-content>
            </ion-card>
          </ion-col>


          <ion-col size="12" size-md="4">
            <ion-card class="home-card text-center" routerLink="/ver/alumnos">
              <ion-card-header>
                <div class="home-card-header">
                  <ion-card-title class="home-card-title">Alumnos</ion-card-title>
                  <ion-icon name="people-outline" class="home-card-icon"></ion-icon>
                </div>
              </ion-card-header>
              <ion-card-content>
                Administra la lista de estudiantes: inscribir nuevos, actualizar datos o dar de baja.
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-md="4">
            <ion-card class="home-card text-center" routerLink="/ver/padres">
              <ion-card-header>
                <div class="home-card-header">
                  <ion-card-title class="home-card-title">Padres o Tutores</ion-card-title>
                  <ion-icon name="home-outline" class="home-card-icon"></ion-icon>
                </div>
              </ion-card-header>
              <ion-card-content>
                Mantén actualizados los datos de contacto de padres o tutores responsables.
              </ion-card-content>
            </ion-card>
          </ion-col>


          <ion-col size="12" size-md="4">
            <ion-card class="home-card text-center" routerLink="/ver/admins">
              <ion-card-header>
                <div class="home-card-header">
                  <ion-card-title class="home-card-title">Administradores</ion-card-title>
                  <ion-icon name="person-outline" class="home-card-icon"></ion-icon>
                </div>
              </ion-card-header>
              <ion-card-content>
                Gestiona los Administradores de la aplicación: inscribir nuevos, actualizar datos o dar de baja.
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-md="8">
            <ion-card class="home-card text-center">
              <a href="/llegue-global" target="_blank" class="text-center ion-activatable ripple-parent">
                <ion-card-title class="home-card-title">Panel de Llegue Global</ion-card-title>
                <ion-icon name="walk-outline" class="home-card-icon"></ion-icon>
                <div class="home-card-content">
                  Muestra llegadas globales en otra pestaña
                </div>
                <ion-ripple-effect></ion-ripple-effect>
              </a>

            </ion-card>
          </ion-col>




        </ion-row>
      </ion-grid>

    </div>

    <!-- Tarjetas de gestión -->

    <!-- <ion-grid>
      <ion-row>


        <ion-col size="12" size-lg="4" size-md="6">
          <div class="card border-success shadow-sm h-100">
            <div class="card-body text-center">
              <ion-icon name="people-circle-outline" class="icono-admin"></ion-icon>
              <h5 class="card-title mt-2">Padres Registrados</h5>
              <p class="card-text">Gestiona la información de los padres autorizados.</p>
              <a href="/ver/padres">
                <ion-button fill="clear" class="btn-principal" expand="block">Ver Padres</ion-button>
              </a>
            </div>
          </div>
        </ion-col>


        <ion-col size="12" size-lg="4" size-md="6">
          <div class="card border-success shadow-sm h-100">
            <div class="card-body text-center">
              <ion-icon name="school-outline" class="icono-admin"></ion-icon>
              <h5 class="card-title mt-2">Alumnos</h5>
              <p class="card-text">Consulta y edita los datos de los alumnos.</p>
              <a href="/ver/alumnos">
                <ion-button fill="clear" class="btn-secundario" expand="block">Ver Alumnos</ion-button>
              </a>
            </div>
          </div>
        </ion-col>


        <ion-col size="12" size-lg="4" size-md="6">
          <div class="card border-success shadow-sm h-100">
            <div class="card-body text-center">
              <ion-icon name="glasses-outline" class="icono-admin"></ion-icon>
              <h5 class="card-title mt-2">Docentes</h5>
              <p class="card-text">Consulta Docentes.</p>
              <a href="/ver/docentes">
                <ion-button fill="clear" class="btn-principal" expand="block">Ver Docentes</ion-button>
              </a>
            </div>
          </div>
        </ion-col>


        <ion-col size="12" size-lg="4" size-md="6">
          <div class="card border-success shadow-sm h-100">
            <div class="card-body text-center">
              <ion-icon name="time-outline" class="icono-admin"></ion-icon>
              <ion-icon name="briefcase-outline" class="icono-admin"></ion-icon>
              <h5 class="card-title mt-2">Salones Y Grupos</h5>
              <p class="card-text">Consulta y edita los Salones y Grupos.</p>
              <a href="/gradoygrupo">
                <ion-button fill="clear" class="btn-secundario" expand="block">Ver Salones y Periodos</ion-button>
              </a>
            </div>
          </div>
        </ion-col>

        <ion-col size="12" size-lg="8" size-md="12">
          <div class="card border-success shadow-sm h-100">
            <div class="card-body text-center">
              <ion-icon name="person-add-outline" class="icono-admin"></ion-icon>
              <h5 class="card-title mt-2">Crear Cuenta</h5>
              <p class="card-text">Crea Cuentas para Padres y Docentes.</p>
              <a href="/create/cuenta">
                <ion-button fill="clear" class="btn-secundario" expand="block">Crear Cuenta</ion-button>
              </a>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid> -->

    <!-- Pie -->
    <div class="text-center mt-5 text-secondary small">
      © 2025 Escuela Primaria Benito Juárez | Llegué
    </div>
  </div>
</ion-content>