<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingresa tu nueva contraseña</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="resetPassword()">

        <ion-item>
          <ion-label position="floating">Código de recuperación</ion-label>
          <ion-input [(ngModel)]="code" name="code" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nueva contraseña</ion-label>
          <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input [(ngModel)]="passwordConfirmation" name="passwordConfirmation" type="password" required></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" color="primary" class="ion-margin-top">
          Restablecer contraseña
        </ion-button>

      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
