<app-header></app-header>
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>

        <ion-title>Periodos y Salones</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container text-center">
    <h1>Grados & Grupos</h1>
    <hr class="border border-success border-2 my-3">
    <ion-grid class="tabla-ejemplo">
      <ion-row class="encabezado">
        <ion-col size="6"><strong>Grado</strong></ion-col>
        <ion-col size="6"><strong>Grupos</strong></ion-col>
      </ion-row>

      <ion-row *ngFor="let grado of gradosEjemplo">
        <ion-col size="6">{{ grado.nombre }}</ion-col>
        <ion-col size="6">
          <ion-badge *ngFor="let grupo of grado.grupos" color="primary" class="me-1">
            {{ grupo }}
          </ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>