<ion-header class="custom-header">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title class="navbar-title">
      Grado & Grupo
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="light">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home">Inicio</ion-item>
      <ion-item routerLink="/create/cuenta">Crear Cuenta</ion-item>
      <ion-item routerLink="/create/alumnos">Crear Alumnos</ion-item>
      <!-- <ion-item routerLink="/create/docente">Crear Docente</ion-item> -->
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-content [fullscreen]="true">
  <div class="container text-center">
    <h1>Grados & Grupos</h1>
    <hr class="border border-success border-2 my-3">
    <ion-grid class="tabla-ejemplo">
      <ion-row class="encabezado">
        <ion-col size="6"><strong>Grado</strong></ion-col>
        <ion-col size="6"><strong>Grupos</strong></ion-col>
      </ion-row>

      <ion-row *ngFor="let grado of gradosEjemplo">
        <ion-col size="6">{{ grado.nombre }}</ion-col>
        <ion-col size="6">
          <ion-badge *ngFor="let grupo of grado.grupos" color="primary" class="me-1">
            {{ grupo }}
          </ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>