<app-header></app-header>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
    </ion-buttons>
    <!-- <ion-title>Crear Alumnos</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container text-center">
    <h1 class="titulo">
      Crear Alumno
    </h1>
    <img src="assets/img/escuela.png" alt="Logo Escuela" width="120">
    <ion-grid fixed>
      <ion-row>

        <!-- Nombre -->
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="stacked">Nombre(s)</ion-label>
            <ion-input type="text" placeholder="Nombre(s)"></ion-input>
          </ion-item>
        </ion-col>

        <!-- Apellidos -->
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="stacked">Apellidos</ion-label>
            <ion-input type="text" placeholder="Apellidos"></ion-input>
          </ion-item>
        </ion-col>
        <!-- Contraseña -->
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="stacked">Persona Autorizada</ion-label>
            <ion-input type="text" placeholder="Persona Autorizada"></ion-input>
          </ion-item>
        </ion-col>


        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="stacked">Salón</ion-label>
            <ion-input type="text" placeholder="Salón"></ion-input>
          </ion-item>
        </ion-col>

        <!-- Foto -->
        <ion-col size="12">
          <ion-item lines="none" class="foto-input">
            <ion-label position="stacked">Foto de perfil</ion-label>
            <input type="file" accept="image/*" (change)="onFileChange($event)" />
          </ion-item>
          <div class="ion-text-center ion-margin-top" *ngIf="previewImg">
            <img [src]="previewImg" class="preview-img" />
          </div>
        </ion-col>

        <!-- Botón -->
        <ion-col size="12">
          <ion-button expand="block" class="btn-principal" shape="round" fill="clear">
            Crear Cuenta
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

</ion-content>