<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="menuId"></ion-menu-button>
            <ion-back-button text="Regresar"></ion-back-button>
        </ion-buttons>
        <ion-title class="text-center">
            <div class="header-title">
                <img src="assets/img/escuela.png" alt="" class="logo-title">
                <!-- <span class="span-title">Panel Administrativo</span> -->
            </div>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/perfil" title="Mi perfil">
                <ion-icon name="person-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h1 class="titulo text-center">Ver Personas</h1>
    <div class="text-center">
        <ion-button class="cuenta-btn" fill="solid" size="large" (click)="redirect()">
            <ion-icon slot="start" name="person-add-outline"></ion-icon>
            Registrar padre o tutor
        </ion-button>
    </div>


    <ion-accordion-group *ngIf="isMobile" expand="first" class="px-3 text-center">
        <!-- PRIMER ACCORDION - Confirmados -->
        <ion-accordion value="first">
            <!-- HEADER -->
            <ion-item class="acordion-cuenta" slot="header">
                <ion-label>Usuarios registrados</ion-label>
            </ion-item>

            <!-- CONTENT -->
            <div class=" cuentas-container container" slot="content">
                <div class="botones-cuenta-container container">
                    <ion-button (click)="selectingPersonas()" *ngIf="!isSelecting && personas.length !== 0"
                        expand="block" fill="clear" shape="round">
                        <ion-icon name="checkmark-outline" slot="start"></ion-icon>
                        Seleccionar personas
                    </ion-button>
                    <ion-button (click)="notSelectingPersonas()" color="medium" *ngIf="isSelecting" expand="block"
                        fill="clear" shape="round">
                        <ion-icon name="close-outline" slot="start"></ion-icon>
                        Cancelar selección
                    </ion-button>
                    <div class="acciones" *ngIf="isSelecting && personas.length !== 0">
                        <ion-checkbox slot="start" color="primary" [(ngModel)]="allSelected"
                            (ionChange)="toggleSelectAll($event)" aria-label="Seleccionar todos los alumnos">
                        </ion-checkbox>
                        <label (click)="toggleSelectAllLabel()" class="select-all-label">
                            Seleccionar todos
                        </label>
                        <ion-button (click)="openAlertDelete()" size="small" fill="outline" color="danger">
                            ❌ Eliminar
                        </ion-button>
                    </div>
                </div>

                <ion-list class="cuenta-list">
                    <ng-container *ngFor="let p of personas">
                        <ion-card *ngIf="p.confirmed" class="persona-card">
                            <ion-card-content>
                                <div class="persona-row">
                                    <!-- Info -->
                                    <div class="persona-info">
                                        <div class="persona-foto-cuadro">
                                            <img [src]="getFotoUrl(p) || 'assets/img/ejemplo.jpg'"
                                                alt="{{p.nombre}} {{p.apellidos}}" />
                                        </div>
                                        <div class="persona-datos">
                                            <h2>{{ p.nombre }} {{ p.apellidos }}</h2>
                                            <p><strong>Correo:</strong> {{ p.email }}</p>
                                            <p class="estado">{{ p.username }}</p>
                                        </div>
                                    </div>

                                    <!-- Acciones -->
                                    <div class="persona-acciones">

                                        <ion-checkbox *ngIf="isSelecting" slot="start" color="primary"
                                            [(ngModel)]="p.selected" (ionChange)="selectPersonas(p)"
                                            [attr.aria-label]="'Seleccionar persona ' + p.nombre + ' ' + p.apellidos">
                                        </ion-checkbox>

                                        <ion-button (click)="redirectToEditPersona(p)" size="small" fill="outline"
                                            color="primary">
                                            📝 Editar
                                        </ion-button>
                                        <ion-button (click)="openAlertDelete(p)" size="small" fill="outline"
                                            color="danger">
                                            ❌ Eliminar
                                        </ion-button>
                                        <ion-button (click)="openModal(p)" size="small" fill="outline" color="warning">
                                            🏫 Asignar alumnos
                                        </ion-button>
                                    </div>
                                </div>
                            </ion-card-content>
                        </ion-card>

                    </ng-container>
                </ion-list>
            </div>
        </ion-accordion>

        <!-- SEGUNDO ACCORDION - No confirmados -->
        <ion-accordion value="second">
            <!-- HEADER -->
            <ion-item class="acordion-cuenta " slot="header">
                <ion-label class="text-color-danger">Cuentas por activar</ion-label>
            </ion-item>

            <!-- CONTENT -->
            <div class=" cuentas-container container" slot="content">
                <div class="botones-cuenta-container container">
                    <ion-button (click)="selectingPersonas()" *ngIf="!isSelecting && personas.length !== 0"
                        expand="block" fill="clear" shape="round">
                        <ion-icon name="checkmark-outline" slot="start"></ion-icon>
                        Seleccionar personas
                    </ion-button>
                    <ion-button (click)="notSelectingPersonas()" color="medium" *ngIf="isSelecting" expand="block"
                        fill="clear" shape="round">
                        <ion-icon name="close-outline" slot="start"></ion-icon>
                        Cancelar selección
                    </ion-button>
                    <div class="acciones" *ngIf="isSelecting && personas.length !== 0">
                        <ion-checkbox slot="start" color="primary" [(ngModel)]="allSelected"
                            (ionChange)="toggleSelectAll($event)" aria-label="Seleccionar todos los alumnos">
                        </ion-checkbox>
                        <label (click)="toggleSelectAllLabel()" class="select-all-label">
                            Seleccionar todos
                        </label>
                        <ion-button (click)="openAlertDelete()" size="small" fill="outline" color="danger">
                            ❌ Eliminar
                        </ion-button>
                    </div>
                </div>

                <ion-list class="cuenta-list">
                    <ng-container *ngFor="let p of personas">
                        <ion-card *ngIf="!p.confirmed" class="persona-card">
                            <ion-card-content>
                                <div class="persona-row">
                                    <!-- Info -->
                                    <div class="persona-info">
                                        <div class="persona-foto-cuadro">
                                            <img [src]="getFotoUrl(p) || 'assets/img/ejemplo.jpg'"
                                                alt="{{p.nombre}} {{p.apellidos}}" />
                                        </div>
                                        <div class="persona-datos">
                                            <h2>{{ p.nombre }} {{ p.apellidos }}</h2>
                                            <p><strong>Correo:</strong> {{ p.email }}</p>
                                            <p class="estado">{{ p.username }}</p>
                                        </div>
                                    </div>

                                    <!-- Acciones -->
                                    <div class="persona-acciones">

                                        <ion-checkbox *ngIf="isSelecting" slot="start" color="primary"
                                            [(ngModel)]="p.selected" (ionChange)="selectPersonas(p)"
                                            [attr.aria-label]="'Seleccionar persona ' + p.nombre + ' ' + p.apellidos">
                                        </ion-checkbox>

                                        <ion-button (click)="openModalINE(p)" size="small" class="btn-principal">
                                            Ver INE
                                        </ion-button>

                                        <ion-button (click)="openAlertDelete(p)" size="small" fill="outline"
                                            color="danger">
                                            Eliminar
                                        </ion-button>
                                        <ion-button (click)="confirmar(p)" size="small" fill="outline" color="success">
                                            Confirmar
                                        </ion-button>
                                    </div>
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </ng-container>

                </ion-list>
            </div>
        </ion-accordion>
    </ion-accordion-group>


    <!-- VISTA ESCRITORIO -->
    <ion-grid *ngIf="!isMobile" fixed>

        <div class="text-center">
            <div class="botones-cuenta-container container">
                <ion-button (click)="selectingPersonas()" *ngIf="!isSelecting && personas.length !== 0" expand="block"
                    fill="clear" shape="round">
                    <ion-icon name="checkmark-outline" slot="start"></ion-icon>
                    Seleccionar personas
                </ion-button>
                <ion-button (click)="notSelectingPersonas()" color="medium" *ngIf="isSelecting" expand="block"
                    fill="clear" shape="round">
                    <ion-icon name="close-outline" slot="start"></ion-icon>
                    Cancelar selección
                </ion-button>
                <div class="acciones" *ngIf="isSelecting && personas.length !== 0">
                    <ion-checkbox slot="start" color="primary" [(ngModel)]="allSelected"
                        (ionChange)="toggleSelectAll($event)" aria-label="Seleccionar todos los alumnos">
                    </ion-checkbox>
                    <label (click)="toggleSelectAllLabel()" class="select-all-label">
                        Seleccionar todos
                    </label>
                    <ion-button (click)="openAlertDelete()" size="small" fill="outline" color="danger">
                        ❌ Eliminar
                    </ion-button>
                </div>
            </div>
            <ion-row>
                <!-- Cuentas confirmadas -->
                <ion-col size="6">
                    <ion-row>
                        <ion-col size="4">
                            <ion-input class="input-filtro" [(ngModel)]="filterNombreConfirmadas"
                                (ionInput)="filtrarPersonasConfirmadas()" placeholder="Filtrar por nombre"></ion-input>
                        </ion-col>
                        <ion-col size="4">
                            <ion-input class="input-filtro" [(ngModel)]="filterUsernameConfirmadas"
                                (ionInput)="filtrarPersonasConfirmadas()"
                                placeholder="Filtrar por username"></ion-input>
                        </ion-col>
                        <ion-col size="4">
                            <ion-input class="input-filtro" [(ngModel)]="filterEmailConfirmadas"
                                (ionInput)="filtrarPersonasConfirmadas()" placeholder="Filtrar por email"></ion-input>
                        </ion-col>
                    </ion-row>
                    <div class="cuenta-escritorio-container">
                        <div class="cuenta-escritorio-header">
                            <strong>Cuentas Registradas</strong>
                        </div>

                        <div *ngIf="personas.length === 0" class="text-center text-muted">
                            No hay cuentas registradas
                        </div>
                        <ng-container *ngFor="let p of filteredPersonasConfirmadas">

                            <div *ngIf="p.confirmed" class="cuenta-escritorio-item">
                                <div class="cuenta-escritorio-avatar">
                                    <img [src]="getFotoUrl(p) || 'assets/img/ejemplo.jpg'"
                                        alt="{{p.nombre}} {{p.apellidos}}" />
                                </div>
                                <div class="cuenta-escritorio-nombre">
                                    <strong>Nombre:</strong>{{ p.nombre }} {{ p.apellidos }}
                                    <p><strong>Correo:</strong> {{ p.email }}</p>
                                    <p class="estado"><strong>Username:</strong>{{ p.username }}</p>
                                </div>

                                <!-- Acciones -->

                                <div class="cuenta-escritorio-acciones">
                                    <ion-checkbox *ngIf="isSelecting" [(ngModel)]="p.selected"
                                        (ionChange)="selectPersonas(p)"></ion-checkbox>
                                    <ion-button (click)="redirectToEditPersona(p)" size="small" fill="outline"
                                        color="primary">
                                        📝 Editar
                                    </ion-button>
                                    <ion-button (click)="openAlertDelete(p)" size="small" fill="outline" color="danger">
                                        Eliminar
                                    </ion-button>
                                    <ion-button (click)="openModal(p)" size="small" fill="outline" color="warning">
                                        Asignar
                                    </ion-button>
                                </div>
                            </div>
                        </ng-container>
                        <ion-infinite-scroll threshold="1px" (ionInfinite)="getPersonasAutorizadas($event)">
                            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más padres...">
                            </ion-infinite-scroll-content>
                        </ion-infinite-scroll>
                    </div>
                </ion-col>

                <!-- Cuentas por activar -->
                <ion-col size="6">
                    <ion-row>
                        <ion-col size="4">
                            <ion-input class="input-filtro" [(ngModel)]="filterNombreNoConfirmadas"
                                (ionInput)="filtrarPersonasNoConfirmadas()"
                                placeholder="Filtrar por nombre"></ion-input>
                        </ion-col>
                        <ion-col size="4">
                            <ion-input class="input-filtro" [(ngModel)]="filterUsernameNoConfirmadas"
                                (ionInput)="filtrarPersonasNoConfirmadas()"
                                placeholder="Filtrar por username"></ion-input>
                        </ion-col>
                        <ion-col size="4">
                            <ion-input class="input-filtro" [(ngModel)]="filterEmailNoConfirmadas"
                                (ionInput)="filtrarPersonasNoConfirmadas()" placeholder="Filtrar por email"></ion-input>
                        </ion-col>
                    </ion-row>
                    <div class="cuenta-escritorio-container">
                        <div class="cuenta-escritorio-header text-color-danger">
                            <strong>Cuentas por activar</strong>
                        </div>

                        <div *ngIf="personas.length === 0" class="text-center text-muted">
                            No hay cuentas por activar
                        </div>

                        <ng-container *ngFor="let p of filteredPersonasNoConfirmadas">
                            <div *ngIf="!p.confirmed" class="cuenta-escritorio-item">
                                <div class="cuenta-escritorio-avatar">
                                    <img [src]="getFotoUrl(p) || 'assets/img/ejemplo.jpg'"
                                        alt="{{p.nombre}} {{p.apellidos}}" />
                                </div>
                                <div class="cuenta-escritorio-nombre">
                                    <strong>Nombre:</strong>{{ p.nombre }} {{ p.apellidos }}
                                    <p><strong>Correo:</strong> {{ p.email }}</p>
                                    <p class="estado"><strong>Username:</strong>{{ p.username }}</p>
                                </div>
                                <!-- Acciones -->
                                <div class="cuenta-escritorio-acciones">
                                    <ion-checkbox *ngIf="isSelecting" [(ngModel)]="p.selected"
                                        (ionChange)="selectPersonas(p)"></ion-checkbox>
                                    <ion-button (click)="openModalINE(p)" size="small" fill="outline" color="primary">
                                        Ver INE
                                    </ion-button>
                                    <ion-button (click)="confirmar(p)" size="small" fill="outline" color="success">
                                        Confirmar
                                    </ion-button>
                                    <ion-button (click)="openAlertDelete(p)" size="small" fill="outline" color="danger">
                                        Eliminar
                                    </ion-button>
                                </div>
                            </div>
                        </ng-container>
                        <ion-infinite-scroll threshold="1px" (ionInfinite)="getPersonasAutorizadas($event)">
                            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más alumnos...">
                            </ion-infinite-scroll-content>
                        </ion-infinite-scroll>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>



    <ion-modal [isOpen]="isModalOpenINE" (willDismiss)="onWillDismiss($event)">
        <ng-template>
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-buttons slot="end">
                        <ion-button color="danger" (click)="setOpenINE(false)">
                            <ion-icon name="close-circle-sharp"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <ion-title class="text-center">
                        Ver INE
                    </ion-title>
                </ion-toolbar>
            </ion-header>

            <ion-content class="ion-padding" *ngIf="currentPersonaINE">
                <div class="ine-container">
                    <img [src]="getFotoINE(currentPersonaINE) || 'assets/img/sin-ine.avif'" alt="INE">
                </div>
            </ion-content>


        </ng-template>
    </ion-modal>

    <ion-modal #modal>
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-title>Seleccione sus Alumnos</ion-title>
                    <ion-buttons slot="end">
                        <ion-button color="danger" (click)="cancel()">Cerrar</ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding bg-light">
                <ion-item>
                    <ion-label position="fixed">Buscar salón:</ion-label>
                    <ion-input [(ngModel)]="searchTerm" (ionInput)="filtrarSalones()"
                        placeholder="Ej. 01, B"></ion-input>
                </ion-item>

                <ion-accordion-group expand="inset" *ngFor="let s of filteredSalones">
                    <ion-accordion [value]="'salon' + s.id">
                        <ion-item slot="header" color="light">
                            <ion-label>
                                <strong>Salón {{ s.aula }} - {{ s.grado }}° {{ s.grupo }}</strong>
                            </ion-label>
                        </ion-item>

                        <div class="ion-padding" slot="content">
                            <ion-item>
                                <ion-label position="fixed">Buscar alumno:</ion-label>
                                <ion-input [(ngModel)]="alumnoSearchTerm" placeholder="Ej. Juan, Martínez"></ion-input>
                            </ion-item>

                            <ion-list *ngIf="filtrarAlumnos(s.alumnos).length > 0; else sinAlumnos">
                                <ion-item *ngFor="let alumno of filtrarAlumnos(s.alumnos)">
                                    <ion-label>{{ alumno.nombre }} {{ alumno.apellidos }}</ion-label>

                                    <ng-container
                                        *ngIf="!esAlumnoAsignadoOSeleccionado(alumno.id); else yaSeleccionado">
                                        <ion-button (click)="selectAlumnos(alumno)" size="small" color="primary"
                                            fill="outline">
                                            Seleccionar
                                        </ion-button>
                                    </ng-container>
                                    <ng-template #yaSeleccionado>
                                        <ion-badge color="success">Seleccionado</ion-badge>
                                    </ng-template>


                                </ion-item>
                            </ion-list>
                            <ng-template #sinAlumnos>
                                <ion-text color="medium">No hay alumnos publicados en este salón.</ion-text>
                            </ng-template>
                        </div>

                    </ion-accordion>
                </ion-accordion-group>
                <ion-infinite-scroll threshold="1px" (ionInfinite)="getSalones($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más alumnos...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
                <ion-list *ngIf="getTodosLosAlumnos().length > 0">
                    <ion-list-header color="light">
                        <ion-label>Alumnos seleccionados:</ion-label>
                    </ion-list-header>

                    <ion-item *ngFor="let a of getTodosLosAlumnos()">
                        <ion-label>
                            {{ a.nombre }} {{ a.apellidos }} - Grado y grupo: {{ a.salon.grado }} - {{ a.salon.grupo }}
                        </ion-label>

                        <ion-button size="small" color="danger" fill="clear" (click)="quitarAlumno(a.id)">
                            {{ esAlumnoAsignadoBD(a.id) ? 'Designar Alumno' : 'Quitar' }}
                        </ion-button>
                    </ion-item>
                    <!-- <ion-infinite-scroll threshold="1px" (ionInfinite)="getAlumnos($event)">
                        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más alumnos...">
                        </ion-infinite-scroll-content>
                    </ion-infinite-scroll> -->
                </ion-list>
                <ion-button (click)="asignarAlumnos()" fill="clear" expand="block" class="btn-principal">
                    Agregar Alumno
                </ion-button>
            </ion-content>
        </ng-template>
    </ion-modal>


    <ion-alert trigger="present-alert" [buttons]="alertButtons"></ion-alert>
    <ion-alert #deleteAlert [header]="alertHeaderDelete" [buttons]="alertButtonsDelete"></ion-alert>

</ion-content>