<app-header></app-header>
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="text-center mb-4">
        <h1 class="mt-3 titulo">Ver Persons Autprizada</h1>
        <img src="assets/img/escuela.png" alt="Logo Escuela" width="120">
        <p class="text-muted">Panel para asignar alumnos a las personas autorizadas</p>
    </div>

    <ion-grid fixed>
        <ion-row>
            <ion-col size="12" size-lg="4" size-md="6" *ngFor="let persona of personas">
                <ion-card>
                    <div class="text-center">
                        <img alt="Foto Padre" class="img-card"
                            [src]="persona.foto?.url ? 'http://localhost:1337' + persona.foto.url : 'assets/img/ejemplo.jpg'" />
                        <ion-card-header>
                            <ion-card-title class="card-titulo">
                                {{ persona.nombre }} {{ persona.apellidos }}
                            </ion-card-title>
                            <ion-card-subtitle>
                                {{ persona.email }}
                            </ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content>
                            <p>
                                <strong>Alumnos a su cargo:</strong>
                                {{ persona.alumnos?.length || 0 }}
                            </p>
                            <ion-button fill="clear" expand="block" class="btn-principal"
                                (click)="setOpen(true, persona)">
                                Agregar Alumno
                            </ion-button>
                        </ion-card-content>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
        <ng-template>
            <ion-header>
                <ion-toolbar>
                    <ion-title>Seleccione sus Alumnos</ion-title>
                    <ion-buttons slot="end">
                        <ion-button color="danger" (click)="setOpen(false)">Cerrar</ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding bg-light">
                <ion-item>
                    <ion-label position="fixed">Buscar salón:</ion-label>
                    <ion-input [(ngModel)]="searchTerm" (ionInput)="filtrarSalones()"
                        placeholder="Ej. 01, B"></ion-input>
                </ion-item>

                <ion-accordion-group expand="inset" *ngFor="let s of filteredSalones">
                    <ion-accordion [value]="'salon' + s.id">
                        <ion-item slot="header" color="light">
                            <ion-label>
                                <strong>Salón {{ s.aula }} - {{ s.grado }}° {{ s.grupo }}</strong>
                            </ion-label>
                        </ion-item>

                        <div class="ion-padding" slot="content">
                            <ion-item>
                                <ion-label position="fixed">Buscar alumno:</ion-label>
                                <ion-input [(ngModel)]="alumnoSearchTerm" placeholder="Ej. Juan, Martínez"></ion-input>
                            </ion-item>

                            <ion-list *ngIf="filtrarAlumnos(s.alumnos).length > 0; else sinAlumnos">
                                <ion-item *ngFor="let alumno of filtrarAlumnos(s.alumnos)">
                                    <ion-label>{{ alumno.nombre }} {{ alumno.apellidos }}</ion-label>

                                    <ng-container
                                        *ngIf="!esAlumnoAsignadoOSeleccionado(alumno.id); else yaSeleccionado">
                                        <ion-button (click)="selectAlumnos(alumno)" size="small" color="primary"
                                            fill="outline">
                                            Seleccionar
                                        </ion-button>
                                    </ng-container>
                                    <ng-template #yaSeleccionado>
                                        <ion-badge color="success">Seleccionado</ion-badge>
                                    </ng-template>


                                </ion-item>
                            </ion-list>
                            <ng-template #sinAlumnos>
                                <ion-text color="medium">No hay alumnos publicados en este salón.</ion-text>
                            </ng-template>
                        </div>

                    </ion-accordion>
                </ion-accordion-group>
                <ion-list *ngIf="getTodosLosAlumnos().length > 0">
                    <ion-list-header color="light">
                        <ion-label>Alumnos seleccionados:</ion-label>
                    </ion-list-header>

                    <ion-item *ngFor="let a of getTodosLosAlumnos()">
                        <ion-label>
                            {{ a.nombre }} {{ a.apellidos }} - Grado y grupo: {{ a.salon.grado }} - {{ a.salon.grupo }}
                        </ion-label>

                        <ion-button size="small" color="danger" fill="clear" (click)="quitarAlumno(a.id)">
                            {{ esAlumnoAsignadoBD(a.id) ? 'Designar Alumno' : 'Quitar' }}
                        </ion-button>


                    </ion-item>

                </ion-list>
                <ion-button (click)="asignarAlumnos()" fill="clear" expand="block" class="btn-principal">
                    Agregar Alumno
                </ion-button>
            </ion-content>

        </ng-template>
    </ion-modal>

</ion-content>