<ion-content [fullscreen]="true" class="register-content">
  <div class="register-wrapper">
    <div class="text-center mb-4">
      <!-- <img src="assets/img/escuela.png" alt="Logo Escuela" class="logo-form"> -->
      <h5 class="titulo2">Escuela Primaria Benito Juárez</h5>
    </div>

    <div class="container">
      <div class="register-form text-center">
        <ion-grid fixed>
          <ion-row>

            <!-- Nombre -->
            <ion-col size="12">
              <div class="register-photo-upload">
                <label for="foto-input">
                  <img src="assets/img/escuela.png" alt="Foto" class="register-photo">
                </label>
              </div>
            </ion-col>


            <ion-col size="12">
              <ion-item lines="full">
                <ion-input type="email" [(ngModel)]="identifier" placeholder="Usuario o Email" name="identifier"
                  required></ion-input>
              </ion-item>
            </ion-col>

            <!-- Apellidos -->
            <ion-col size="12">
              <ion-item lines="full">
                <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password"
                  required></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-item lines="full">
                <ion-input type="text" placeholder="Contraseña" [(ngModel)]="token_push" ></ion-input>
              </ion-item>
            </ion-col>


            <ion-col size="12">
              <ion-button expand="block" class="btn-principal ion-margin-top" (click)="login()">
                Iniciar Sesión
              </ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>

        <div class="link-container">
          <p routerLink="/register" class="link">
            No tengo una cuenta!
          </p>
          <p routerLink="/password-forgotten" class="link">
            ¿Olvidaste tu contraseña?
          </p>
        </div>

      </div>
    </div>
  </div>
</ion-content>