<ion-content [fullscreen]="true" class="custom-content">
  <div class="content-wrapper">
    <!-- Imagen -->
    <img src="assets/img/logo.png" alt="Logo" class="form-logo" />

    <!-- Cuadro del formulario -->
    <div class="form-box">
      <form class="custom-form">

        <!-- Email -->
        <ion-item class="ion-margin-bottom">
          <ion-label position="floating">Usuario o email</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="identifier"
            name="identifier"
            required
          ></ion-input>
        </ion-item>

        <!-- Password -->
        <ion-item class="ion-margin-bottom">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            type="password"
            [(ngModel)]="password"
            name="password"
            required
          ></ion-input>
        </ion-item>

        <!-- Opciones -->
        <div class="row ion-margin-bottom">
          <div class="col d-flex justify-content-start align-items-center">
            <ion-checkbox checked></ion-checkbox>
            <label class="ms-2">Recordarme</label>
          </div>
          <div class="col text-end">
            <a  href="#">¿Olvidaste tu contraseña?</a>
          </div>
        </div>

        <!-- Botón -->
        <ion-button expand="block" shape="round" fill="clear" (click)="login()">
          Iniciar Sesión
        </ion-button>

      </form>
    </div>
  </div>
</ion-content>
