<ion-content [fullscreen]="true" class="gobierno-login-content">
  <div class="gobierno-login-wrapper">

    <!-- Logo institucional -->
    <div class="text-center mb-4">
      <img src="assets/img/escuela.png" alt="Logo Escuela" class="gobierno-logo">
      <h5 class="institucion-nombre">Escuela Primaria Benito Juárez</h5>
    </div>

    <!-- Formulario login -->
    <div class="formulario-container shadow">

      <h4 class="text-center titulo-login">Acceso</h4>

      <form>

        <!-- Usuario -->
        <ion-item lines="full" class="ion-margin-top input-institucional">
          <ion-label position="floating">Usuario o Email</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="identifier"
            name="identifier"
            required
          ></ion-input>
        </ion-item>

        <!-- Contraseña -->
        <ion-item lines="full" class="ion-margin-top input-institucional">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            type="password"
            [(ngModel)]="password"
            name="password"
            required
          ></ion-input>
        </ion-item>

        <!-- Botón -->
        <ion-button expand="block" fill="clear" shape="round" class="btn-principal ion-margin-top" (click)="login()">
          Iniciar Sesión
        </ion-button>

        <!-- Enlace -->
        <p class="text-end mt-2">
          <a href="#" class="enlace">¿Olvidaste tu contraseña?</a>
        </p>

      </form>
    </div>
  </div>
</ion-content>
