<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menuId"></ion-menu-button>
      <ion-back-button text="Regresar"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">
      <div class="header-title">
        <img src="assets/img/escuela.png" alt="" class="logo-title">
        <!-- <span class="span-title">Panel Administrativo</span> -->
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/perfil" title="Mi perfil">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div class="cuenta-container container text-center">
    <h1 class="titulo">
      Crear Cuenta
    </h1>
    <ion-grid fixed>
      <ion-row>

        <ion-col size="12">
          <div class="alumno-foto-container">
            <div class="alumno-foto-wrapper">
              <img *ngIf="previewImg" [src]="previewImg" alt="Vista previa" class="alumno-foto" />
              <div *ngIf="!previewImg" class="alumno-foto-placeholder">+</div>
              <input #fileInput type="file" accept="image/*" (change)="onFileChange($event)"
                class="alumno-foto-input" />
            </div>
          </div>
        </ion-col>

        <!-- Nombre -->
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label  position="stacked">Nombre(s)</ion-label>
            <ion-input class="cuenta-input" type="text" placeholder="Nombre(s)" [(ngModel)]="user.nombre"></ion-input>
          </ion-item>
        </ion-col>

        <!-- Apellidos -->
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label  position="stacked">Apellidos</ion-label>
            <ion-input class="cuenta-input" type="text" placeholder="Apellidos" [(ngModel)]="user.apellidos"></ion-input>
          </ion-item>
        </ion-col>

        <!-- Usuario -->
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label  position="stacked">Usuario</ion-label>
            <ion-input class="cuenta-input" type="text" placeholder="Usuario" [(ngModel)]="user.username"></ion-input>
          </ion-item>
        </ion-col>

        <!-- Correo -->
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label  position="stacked">Correo Electrónico</ion-label>
            <ion-input class="cuenta-input" type="email" placeholder="Email" [(ngModel)]="user.email"></ion-input>
          </ion-item>
        </ion-col>

        <!-- Contraseña -->
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label  position="stacked">Contraseña</ion-label>
            <ion-input class="cuenta-input" type="password" placeholder="Contraseña" [(ngModel)]="user.password"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label  position="stacked">Rol</ion-label>
            <ion-select class="cuenta-input" [(ngModel)]="user.role" placeholder="Seleccione Rol">
              <ion-select-option *ngFor="let role of roles" [value]="role.id">
                {{role.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>



        <!-- Botón agregar otro -->
        <ion-col size="12" *ngIf="user.nombre && user.apellidos && user.email && user.password && user.username">
          <ion-button expand="block" *ngIf="user" (click)="ingresarOtroDocente()" class="btn-secundario w-100"
            fill="clear" shape="round">
            Ingresar otro usuario
            <ion-icon name="add-circle-outline" slot="end"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- Lista de alumnos -->
        <ion-col size="12" *ngIf="isIngresado && docentesIngresados.length > 0">
          <ion-label>Usuarios ingresados</ion-label>
          <ion-list>
            <!-- Aquí se listarán -->
            <ion-item *ngFor="let docente of docentesIngresados">
              <ion-label>
                {{ docente.nombre }} {{ docente.apellidos }}
              </ion-label>
              <ion-button fill="clear" slot="end"
                (click)="docentesIngresados.splice(docentesIngresados.indexOf(docente), 1)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
        <!-- Botón -->
        <ion-col size="12">
          <ion-button expand="block" class="btn-principal" (click)="save()">
            Crear Cuenta
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

</ion-content>