<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="text-center">
      <div class="header-title">
        <img src="assets/img/escuela.png" alt="" class="logo-title">
        <!-- <span class="span-title">Panel Administrativo</span> -->
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="llegadas-content">
  <div class="container">
    <div class="text-center mb-4">
      <h1 class="titulo">Estado de Llegada de Padres y Tutores</h1>
    </div>
    <div>

    </div>
    <div class="llegadas-grid">
      <div *ngIf="llegadasCargadas.length === 0">
        <ion-card>
          <ion-header>
            <ion-toolbar>
              <ion-title>Aun no ha llegado nadie</ion-title>
            </ion-toolbar>
          </ion-header>
        </ion-card>
      </div>
      <div class="llegada-card" *ngFor="let l of llegadasCargadas" (ion-onload)="getSalonByAlumno(l)">
        <div class="llegada-img">
          <img [src]="getFotoUrl(l.alumno) || 'assets/img/ejemplo.jpg'" alt="Foto alumno">
        </div>
        <div class="llegada-info">
          <h2 class="llegada-alumno">{{ l.alumno.nombre }} {{l.alumno.apellidos}}</h2>
          <div class="llegada-datos">
            <div>
              <strong>Docente:</strong> {{ l.alumno?.salon.docente?.nombre }} {{ l.alumno?.salon.docente?.apellidos }}
            </div>
            <div>
              <strong>Recoge:</strong> {{ l.persona_autorizada?.nombre }} {{ l.persona_autorizada?.apellidos }}
            </div>
            <div>
              <strong>Grado y Grupo:</strong> {{ l.alumno?.salon?.grado }}° {{ l.alumno?.salon?.grupo }}

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>