<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="text-center">
      <div class="header-title">
        <img src="assets/img/escuela.png" alt="" class="logo-title">
        <!-- <span class="span-title">Panel Administrativo</span> -->
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="llegadas-content">
  <div class="container">
    <div class="text-center mb-4">
      <h1 class="titulo">Estado de Llegada de Padres y Tutores</h1>
    </div>

    <div class="llegadas-grid">
      <div class="llegada-card" *ngFor="let l of llegadas">
        <div class="llegada-img">
          <img src="assets/img/ejemplo.jpg" alt="Foto alumno">
        </div>
        <div class="llegada-info">
          <h2 class="llegada-alumno">{{ l.alumno.nombre }}</h2>
          <div class="llegada-datos">
            <div>
              <strong>Docente:</strong> {{ l.docente.nombre }} {{ l.docente.apellidos }}
            </div>
            <div>
              <strong>Recoge:</strong> {{ l.persona_autorizada.nombre }} {{ l.persona_autorizada.apellidos }}
            </div>
            <div>
              <strong>Grado y Grupo:</strong> 5° B
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>