<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menuId"></ion-menu-button>
      <ion-back-button text="Regresar"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">
      <div class="header-title">
        <ion-img src="assets/img/escuela.png" alt="logo" class="logo-title" />
        <!-- <span class="span-title">Panel Administrativo</span> -->
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/perfil" title="Mi perfil">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-sm="6">
          <ion-button routerLink="/create/alumnos" expand="block" shape="round">
            Crear Alumno
          </ion-button>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <ion-button routerLink="/importar-alumnos" fill="outline" color="primary">
            📥 Importar alumnos desde Excel
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Vista movil -->
  <app-acordeon-alumnos *ngIf="isMobile"></app-acordeon-alumnos>

  <!-- Vista ordenador -->
  <app-alumnos-ordenador *ngIf="!isMobile"></app-alumnos-ordenador>

</ion-content>